<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jellyfin is under maintenance!</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="main-title">Jellyfin is under maintenance!</h1>
    <h2 class="text">Expected to be back on Sep. 7</h2>
    <h2 class="text long">Thank you for your patience while I make sure Jellyfin is in optimal condition :D</h2>
    <div class="maxwell-div">
        <h3>Meanwhile, here is Maxwell:</h3>
        <img src="{{ url_for('static', filename='maxwell.gif') }}">
    </div>
</body>
</html>
<style>
    html{
        background-color: black;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    body{
        padding-top: 20px;
    }

    .long{
        transform: scale(90%);
    }

    h1, h2{
        display: grid;
        place-items: center;
    }

    .maxwell-div{
        padding-top: 30px;
        display: grid;
        place-items: center;
    }
</style>