<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jellyfin is under maintenance</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="main-title">Jellyfin is under maintenance!</h1>
    <h2 class="text">Hopefully it will be back on Sep. 7</h2>
    <h2 class="text">Thank you for your patience.</h2>
    <div clas="maxwell"><img src="maxwell.gif"></div>
</body>
</html>
<style>
    html{
        background-color: black;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    body{
        padding-top: 20px;
    }

    h1, h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .maxwell{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>